{% extends 'base.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block body %}

<div id="forecastOrders" class="tabcontent">
    <div>
        <table class="table">
            <thead>
                <tr><th>Id</th><th>Owner</th><th>Item Code</th><th>Shipped Date</th><th>QtyShipped</th>
                    <th>
                        <a class="button is-danger is-outlined" href="{{ path('delete_all_forecastOrders') }}">
                            <span>Delete All</span>
                            <span class="icon is-small">
                                <i class="fa fa-times"></i>
                            </span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for forecastOrder in forecastOrders %}
                <tr>
 					<td>{{ forecastOrders.owner.name }}</td>
					<td>{{ forecastOrders.id }}</td>
                    <td>{{ forecastOrders.itemCode }}</td>
                    <td>{{ forecastOrders.ShippedDate }}</td>
                    <td>{{ forecastOrders.QtyShipped }}</td>
                    <td>
                        <a class="button is-danger is-outlined" href="{{ path('delete_forecastOrder', {'id': forecastOrders.id}) }}">
                            <span>Delete</span>
                            <span class="icon is-small">
                                <i class="fa fa-times"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No Forecast Orders</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    <div>
        <h4>Upload Forecast Orders</h4>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}