{% use "form_div_layout.html.twig" %}

{% block form_row -%}
    <div class="field{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' label')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' input')|trim}) -%}
    {% endif %}
    <p class="control">{{- parent() -}}</p>
{%- endblock form_widget_simple %}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('is-primary') ~ ' button')|trim}) %}
    {{- parent() -}}
{%- endblock %}